* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    text-decoration: none;
    padding: 10px 22px;
    background: #ff5959;
    color: #fff;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    border: none;
    outline: none;
}

/* ---Starting Banner Section */

.banner-section {
    background: url(../images/donation9.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    z-index: 1;
}
.background-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
}
.banner-text {
    width: 765px;
    height: 360px;
    padding: 2%;
    text-align: center;
    z-index: 3;
}
.banner-text h1 {
    font-family: "Poppins", sans-serif;
    font-size: 55px;
    font-weight: 700;
    color: #fff;
}
.banner-text p {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    text-align: center;
    margin: 35px 50px;
}

/* ---Ending Banner Section */

/* --Starting Donate Section */
.donate-today {
    background: #fff;
    text-align-last: center;
    margin: 70px 0;
}
.donate-area {
    width: 700px;
    margin: auto;
}
.donate-heading h2 {
    font-family: "Poppins", sans-serif;
    font-size: 45px;
    margin: 20px 0;
}
.donate-text {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    margin: 20px 0;
    color: gray;
}
.donate-amount-group {
    display: flex;
    justify-content: space-around;
    margin: 60px 0;
}
.donate-amout {
    width: 200px;
    height: 100px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}
.donate-amout h1 {
    font-family: "Poppins", sans-serif;
    color: gray;
}
.donate-amount-group .marked {
    border: 2px solid #ff5959;
    background: #ffeeee;
}
.donate-amount-group .marked span {
    color: #ff5959;
}

.donate-form {
    margin-top: 30px;
    /* text-align: center; */
}
.donate-form .input-area input {
    margin-bottom: 60px;
    width: 70%;
    padding: 10px;
    border: none;
    outline: none;
    border-bottom: 2px solid gray;
}
/* --Ending Donate Section */

/* --Starting donate section */
.donate-plan {
    text-align: center;
    margin: 100px 0;
}
.donate-plan h2 {
    font-family: "Poppins", sans-serif;
    font-size: 45px;
    margin: 20px 0;
}
.donate-plan > p {
    width: 600px;
    margin: auto;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: gray;
}
.donate-plan-group {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 100px auto;
    text-align: left;
}
.donate-group {
    width: 300px;
    height: 400;
    padding: 3%;
    border-radius: 5px;
}
.donate-group h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin: 10px 0;
    font-size: 20px;
}
.donate-group p {
    font-family: "Poppins", sans-serif;
    font-family: 16px;
    margin: 10px 0;
    color: gray;
}

.donate-plan-group .box-1 {
    background: rgba(79, 157, 166, 0.1);
}
.donate-plan-group .box-2 {
    background: rgba(255, 89, 89, 0.1);
}

.donate-plan-group .box-3 {
    background: #fff4d6;
}

/* --Ending donate section */


/* --Starting donate method system */
.donate-method{
    text-align: center;
    margin: 70px 0;
}
.donate-method h1{
    font-size: 45px;
    color: #000;

}
.donate-method p{
    width: 50%;
    margin: auto;
}
.donate-method-system{
    background: url(../images/payment1.png) no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 400px;
    margin-bottom: 30px;
}

/* --Ending donate method system */

/* --Starting update section */

.update-section {
    margin: 90px 0;
    text-align: center;
}
.update-section h1 {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 45px;
}
.update-section p {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: gray;
    width: 40%;
    margin: 20px auto;
    text-align: center;
}
.contact {
    width: 50%;
    margin: 70px 0;
    background: #fff4d6;
    padding: 5%;
    margin: 60px auto;
}

.contact input {
    /* text-decoration: none; */
    padding: 10px 22px;
    width: 70%;
    outline: none;
    border: none;
    background: #d9d9d9;
}
.contact .btn {
    margin-left: -40px;
    border-radius: none;
}

/* --Ending update section */

/* --Starting Footer Section */
footer{
    text-align: center;
    padding: 5%;
    background: #000;
    color: #fff;
}
footer h2 {
    font-family: "Lobster Two", cursive;
    font-size: 45px;
    color: #ff5959;
    margin-bottom: 20px;

}
footer p{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}
/* --Ending Footer Section */
